<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pj1.ArticleMapper">

    <select id="selectPage" resultType="pj1.Article">
    <![CDATA[
        SELECT a.*, u.u_name
        FROM article a LEFT JOIN user u ON a.a_writer = u.u_id
        WHERE ( (#{srchType} = 0) OR
                (#{srchType} = 1 AND (INSTR(a.a_title, #{srchText}) > 0 OR INSTR(a.a_content, #{srchText}) > 0)) OR
                (#{srchType} = 2 AND INSTR(u.u_name, #{srchText}) = 1) )
              AND a.b_id = #{boardId}
        group by a.a_id
        order by a.a_id desc
        limit #{start}, #{end}  
     ]]>  
    </select>
    
    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM article a LEFT JOIN user u ON a.a_writer = u.u_id
        WHERE ( (#{srchType} = 0) OR
                (#{srchType} = 1 AND (INSTR(a.a_title, #{srchText}) > 0 OR INSTR(a.a_content, #{srchText}) > 0)) OR
                (#{srchType} = 2 AND INSTR(u.u_name, #{srchText}) = 1) )
              AND a.b_id = #{boardId}
    </select>
   
    <select id="selectByAid" resultType="pj1.Article">
        SELECT a.*, u.u_name
        FROM article a LEFT JOIN user u ON a.a_writer = u.u_id
        WHERE a_id = #{a_id}
    </select>
    
    <update id="updateClick">
        UPDATE article
        SET a_click = a_click + 1
        WHERE a_id = #{a_id}
    </update>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="a_id">
        INSERT article (a_title, a_writer, a_content, b_id)
        VALUES (#{a_title}, #{a_writer}, #{a_content}, #{b_id})
    </insert>

    <update id="update">
        UPDATE article
        SET a_writer = #{a_writer},
            a_title = #{a_title},
            a_content = #{a_content},
            b_id = #{b_id}
        WHERE a_id = #{a_id}
    </update>

    <delete id="delete">
        DELETE FROM article WHERE a_id = #{a_id}
    </delete>

</mapper>
