<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pj1.UserMapper">

    <select id="selectById" resultType="pj1.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>
    
    <select id="selectByUid" resultType="pj1.User">
        SELECT *
        FROM user
        WHERE u_id = #{u_id}
    </select>
    
    <select id="selectPage" resultType="pj1.User">
        SELECT u.*, t.t_name, d.d_name
        FROM (user u LEFT JOIN type t ON u.t_id = t.t_id) LEFT JOIN department d ON u.d_id = d.d_id
        WHERE (#{srchType} = 0) OR
              (#{srchType} = 1 AND u.u_id = #{srchText}) OR
              (#{srchType} = 2 AND INSTR(u.u_name, #{srchText}) = 1) OR
              (#{srchType} = 3 AND d.d_name = #{srchText}) OR
              (#{srchType} = 4 AND t.t_name = #{srchText})
        group by u.u_id
        order by u.u_id
        limit #{start}, #{end}    
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM (user u LEFT JOIN type t ON u.t_id = t.t_id) LEFT JOIN department d ON u.d_id = d.d_id
        WHERE (#{srchType} = 0) OR
              (#{srchType} = 1 AND u.u_id = #{srchText}) OR
              (#{srchType} = 2 AND INSTR(u.u_name, #{srchText}) = 1) OR
              (#{srchType} = 3 AND d.d_name = #{srchText}) OR
              (#{srchType} = 4 AND t.t_name = #{srchText})
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT user (u_id, u_passwd, u_name, u_email, t_id, d_id)
        VALUES (#{u_id}, #{u_passwd}, #{u_name}, #{u_email}, #{t_id}, #{d_id})
    </insert>

    <update id="update">
        UPDATE user
        SET u_id = #{u_id},
        u_passwd = #{u_passwd},
        u_name = #{u_name},
        u_email = #{u_email},
        t_id = #{t_id},
        d_id = #{d_id}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM [User] WHERE id = #{id}
    </delete>
    
    

</mapper>
